<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
        <link rel="icon" href="https://img.icons8.com/color/48/000000/chance-of-storm.png">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>    
        <body>
            <div class="port">
            {{>header}}
            
            <img src='/img/weather.jpg'> 
            
            </div>  
            {{>footer}}  
        </body>
    
</html>