<!DOCTYPE html>
<html>
    <head>
        <title>404 eroor</title>
        <link rel="icon" href="https://img.icons8.com/color/48/000000/chance-of-storm.png">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>    
        <body >
        
            <div class="port">
                {{>header}}
                <p class="error">{{error}}</p>
            </div>
            <footer>{{>footer}}</footer>
                  
        </body>
    
</html>