<!DOCTYPE html>
<html>
    <head>
        <title>weather</title>
        <link rel="icon" href="https://img.icons8.com/color/48/000000/chance-of-storm.png">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        
    </head>    
        <body >
            <div class="port">
            <header>
                {{>header}}
                
            </header>
            <form class="search">
                <input type="text" placeholder="location">
                <button>serach</button> 
              
            </form>

                <p  id=msg1></p>
                <p id=err></p>
            </div>
            <footer>{{>footer}}</footer>
          <script src="/js/app.js"></script>        
        </body>
    
</html>